$title: #000000;
$notes: #525252;
$default: #ffffff;
$style: #0e456f;
$info: #464E5F;
$subtitle:#B5B5C3;


$danger: #fa2323;
$default-bg: #f9f9f9;
$social-bg: #87bee7;

$search_icon:#EEE5FF;
$cart_icon: #E1F0FF;




$menu-item-height: 41px;
$menu-item-spacing: 16px;


%default-font {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

%info-font {
    font-family: 'Montserrat Alternates', sans-serif;
}

%chart-font {
    font-family: 'Poppins', sans-serif;
}